* {
  padding: 0;
  margin: 0;
}

.box {
  padding-top: 35px;
}

h2 {
  /* padding-left: 50px; */
  font-size: 30px;
  /* width: 250px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.con {
  width: 100rem;
  height: 45rem;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 20px;
  padding-top: 20px;
  /* background: #e2e2e2; */
  /* display: flex;
  justify-content: center; */
}

.form-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  /* padding-bottom: 15px; */
  flex-direction: column;
}
.form-row2 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  padding-bottom: 0px;
  flex-direction: column;
}
.form-row5 {
  display: flex;
  /* align-items: center; */
  margin-bottom: 30px;
  /* padding-bottom: 0px; */
  /* justify-content: flex-start; */
  /* flex-direction: column; */
  padding-right: 503px;
}
.form-row1 {
  display: flex;
  margin-bottom: 10px;
  /* padding-left: 150px; */
  /* flex-direction: row; */
}
.form-label {
  width: 150px;
}

.form-input {
  width: 635px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #979797;
  padding-left: 10px;
}
.form-input1 {
  width: 155px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #979797;
}

.select-row {
  display: flex;
  align-items: center;
}

.select-row select {
  margin-right: 10px;
}

p {
  color: red;
  margin-right: 5px;
  margin-bottom: 5px;
}

label {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  /* margin-top: 80px; */
  /* margin-left: 100px; */
  align-items: center;
}

.save-btn {
  display: flex;
  color: rgb(255, 255, 255);
  background: #38e54d;
}
.cancle-btn {
  display: flex;
  color: rgb(255, 255, 255);
  background: #fe0000;
}

.g-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  padding-bottom: 20px;
}
.text-danger {
  color: red;
}
