@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* หน้าตาราง Customer */
/* ตำแหน่งตาราง */
.table-body-Customer {
  display: flex;
  align-items: center;
  margin: 20px 40px;
  flex-direction: column;
}
/* ขนาดตาราง */
.styled-table-Customer {
  text-align: center;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding-bottom: 30px;
}
/* สีของหัวตาราง */
.styled-table-Customer thead tr {
  text-align: center;
  background-color: #22a699;
  color: #ffffff;
  text-align: left;
  font-size: 15px;
}
/* ระยะขอบของแต่ละช่องหัวตาราง */
.styled-table-Customer th,
.styled-table-Customer td {
  text-align: center;
  padding: 13px 15px;
  /* border: 1px solid #000000; */
}
/* สีเส้นคั่นแต่ละช่อง */
.styled-table-Customer tbody tr {
  border-bottom: 1px solid #efefef;
}
/* สีคั่นระหว่างช่องสีเทา */
.styled-table-Customer tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
/* เส้นค้นสุดท้ายของตาราง */
.styled-table-Customer tbody tr:last-of-type {
  border-bottom: 2px solid #12e2b8;
}
/* คอลัมฝั่งปุ่มช่องแก้ไข */
.TDB {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* สีปุ่มเพิ่มข้อมูล */
.btn1 {
  display: flex;
  background: #22a699;
  color: WHITE;
}
/* สีปุ่มดูรายละเอียด */
.btn2 {
  display: flex;
  background: #22a699;
  color: WHITE;
}
/* สีปุ่มแก้ไข */
.btn3 {
  display: flex;
  background: #fdd835;
  color: WHITE;
}

/* จัดระยะห่างของเลขเพจของคำว่าก่อน */
li.page-item-Customer {
  margin: 10px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* จัดตำแหน่งเลขเพจ */
.pagination-Customer {
  display: flex;
  list-style: none;
}
/* เลขเพจเวลาเอาเมาส์ไปชี้ */
.pagination-Customer .page-item-Customer:hover a {
  background: #b0b0b0;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
/* แสดงสีเวลากดไปหน้านั้นๆ ของเลขเพจ */
.pagination-Customer .active a {
  background: #22a699;
  color: rgb(255, 255, 255);
  display: flex;
  list-style: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
/* ตัวหนังสือเลขเพจ */
.pagination-Customer a {
  color: black;
}

/* ตัวหนังสือที่ใช้แท็ก p */
p {
  color: red;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* จัดหน้าของตัวหนังสือที่ใช้แท็ก label */
label {
  display: flex;
}

/* พื้นที่ทำงานนอกสุดของหน้าทั้งหมดร;มถึงการจัดตำแห่ง */
.all-page-stable {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 3fr;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "aside-menu header-menu  "
    "aside-menu main-menu  ";
}

/* พื้นที่ทำงานนอกสุดของ header */
.header-stable {
  grid-area: header-menu;
  background: #000000;
}
/* พื้นที่ทำงานนอกสุดของ aside */
.aside-stable {
  z-index: 9;
  grid-area: aside-menu;
  background: #ffffff;
}
/* พื้นที่ทำงานนอกสุดของ main */
.main-stable {
  margin-top: 0px;
  grid-area: main-menu;
  background: #ffffff;
}
/* ตัวหนังสือบอกหน้าเพจเพื่อจัดตำแหน่ง */
.top-text-new-C {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #efefef;
}
/* ตกแต่งตัวหนังสือบอกหน้าเพจ */
.text-new-C {
  padding-left: 250px;
  font-size: 35px;
  font-family: "Noto Serif Thai", serif;
  font-weight: 700;
  color: #000000;
  justify-content: center;
  background: #efefef;
  padding: 30px 250px 4px;
}
/* ตกแต่งตัวหนังสือบอกรายละเอียดรองลงมา */
.text-new-lg-C {
  font-family: "Noto Serif Thai", serif;
  padding-left: 250px;
  font-size: 14px;
  color: #ed0000;
  justify-content: center;
  background: #efefef;
  padding-bottom: 20px;
}
/* พื้นหลังสุดพื้นที่ทำงานสีเทา */
.box-big-bg-new-C {
  display: flex;
  background: #efefef;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
/* พื้นหลังสุดพื้นที่ทำงานสีขาวรองลงมา */
.box-BG-area-new-C {
  background: #ffffff;
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 50px 0px;
}
/* ฟอร์มของหน้า stable */
.form-stable-new-C {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ฟอร์มเพื่อจัดตำแหน่ง */
.form-row-new-C {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 25px;
  flex-direction: column;
}
/* ฟอร์มตัวเลือกเพื่อจัดตำแหน่ง */
.form-row-new-select-C {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
  width: 1020px;
  justify-content: space-between;
}
/* ฟอร์มตัวหนังสือบนฟอร์ม */
.form-label-new-C {
  width: 150px;
  font-family: "Noto Serif Thai", serif;
  font-size: 16px;
  font-weight: bold;
}
/* ฟอร์มครอบแต่ละตัว */
.select-row-C {
  font-family: "Noto Serif Thai", serif;
  font-size: 16px;
  font-weight: bold;
}
/* ฟอร์มตัวเลือก */
.form-input-select-C {
  width: 245px;
  height: 40px;
  font-family: "Noto Serif Thai", serif;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #979797;
}

/*  ฟอร์มแสดงerror */
.form-error-C {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}
/* ช่องกรอกข้อมูลของฟอร์ม */
.form-input-new-C {
  width: 1000px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #979797;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Noto Serif Thai", serif;
  font-size: 14px;
}
/* ฟอร์มกรอกข้อมูลใหญ่ */
.form-input-new2-C {
  min-width: 1000px;
  max-width: 1000px;
  min-height: 60px;
  border-radius: 5px;
  border: 1px solid #979797;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Noto Serif Thai", serif;
  font-size: 14px;
  padding-top: 10px;
  font-weight: 300;
}

/* หน้า Stabledetel ตรงช่อง input ของ form */
/* input เล็ก */
.form-input-new-read-C {
  width: 1000px;
  height: 40px;
  /* border-radius: 5px; */
  border: 1px solid #ffffff;
  border-bottom: 1px solid #cbcbcb;
  padding-left: 0px;
  font-family: "Noto Serif Thai", serif;
  font-size: 14px;
  /* border: none; */
  background: white;
  color: #000000;
  margin-bottom: 20px;
}
/* input ใหญ่ */
.form-input-new2-read-C {
  min-width: 1000px;
  max-width: 1000px;
  min-height: 60px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #cbcbcb;
  padding-left: 0px;
  font-family: "Noto Serif Thai", serif;
  font-size: 14px;
  padding-top: 10px;
  font-weight: 300;
  /* border: none; */
  background: white;
  color: #000000;
  margin-bottom: 20px;
}

/* พื้นที่ของปุ่มด้านล่าง */
/* พื้นที่ของปุ่มนอกสุด */
.btn-submit-new-C {
  margin-top: 50px;
  width: 100%;
  height: 80px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  box-shadow: 1px -6px 6px -2px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 1px -6px 6px -2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 1px -6px 6px -2px rgba(0, 0, 0, 0.13);
}
/* พื้นที่รองลงมาเพื่อจัดตำแหน่งปุ่ม */
.btn-area-new-C {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
/* ปุ่มยกเลิก */
.cancle-new-C {
  color: #22a699;
  font-size: 1rem;
  border: 1px solid #22a699;
}
/* ตัวหนังสือปุ่มยกเลิก */
.cancle-new-C span {
  padding-left: 5px;
  color: #22a699;
}
/* ปุ่มบันทึก */
.submit-new-C {
  background: #22a699;
  color: white;
  font-size: 1rem;
  border: none;
}
/* ตัวหนังสือปุ่มบันทึก */
.submit-new-C span {
  padding-left: 5px;
  color: #ffffff;
}
