.tabsgrubs ul {
  list-style-type: none;
  /* margin-top: 20px; */
  display: flex;
  background: #f5f5f5;
  height: 60px;
  flex-direction: row;
  align-items: flex-end;
  box-shadow: inset 1px 2px 15px 5px rgb(0 0 0 / 16%);
}

.tabsgrubs li {
  margin: 0 0px;
}

.tabsgrubs button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 8px 16px;
  cursor: pointer;
  /* outline: none; */
  border-radius: 15px 15px 0px 0px;
  width: 170px;
  height: 45px;
  font-size: 1.2rem;
}

/* CSS สำหรับแท็บที่เลือก */
.tabsgrubs button.active {
  background-color: #22a699;
  color: #ffffff;
  border: none;
}

/* //todo Stable */
.table-body {
  display: flex;
  /* height: 100vh; */
  margin-left: 37px;
  align-items: center;
  width: 95%;
  flex-direction: column;
}
.styled-table {
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 14px;
  font-family: sans-serif;
  width: 1650px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding-bottom: 30px;
}

.styled-table thead tr {
  background-color: #22a699;
  color: #ffffff;
  text-align: left;
  font-size: 15px;
}

.styled-table th,
.styled-table td {
  padding: 11px 10px 5px 14px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #12e2b8;
}

.grup_btn {
  display: flex;
  color: red;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 50px;
}

.inputsearch {
  width: 450px;
  border-radius: 10px;
  height: 40px;
  padding-left: 20px;
  border: 1px solid #a1a1a1;
  font-size: 15px;
}

.grup_btn p {
  /* background: #12e2b8; */
  color: black;
  font-size: 2rem;
  padding-left: 5px;
}
th.sss {
  width: 100px;
  /* padding-right: 50px; */
  /* margin-right: 50px; */
}

li.page-item-stable {
  /* padding: 5px; */
  margin: 10px;
  /* border: 1px solid red; */
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.pagination-stable {
  margin-top: 20px;
  background: white;
  height: 50px;
  box-shadow: 0px 0px 0px 0px rgb(255 255 255);
  /* width: 206px; */
}
.pagination-stable .page-item-stable:hover a {
  background: #b0b0b0;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.pagination-stable .active a {
  background: #22a699;
  color: rgb(255, 255, 255);
  display: flex;
  list-style: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.pagination-stable a {
  color: black;
}

td.TDStable {
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  align-items: center;
  /* padding-left: 20px; */
  /* color: red; */
  justify-content: center;
}

button.btnstable {
  display: flex;
  background: #22a699;
  color: WHITE;
  width: 60px;
  border-radius: 10px;
  height: 55px;
  align-items: center;
  justify-content: center;
}
button.btnstableRead {
  display: flex;
  background: #22a699;
  color: WHITE;
  width: 52px;
  border-radius: 10px;
  height: 39px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-right:10px ;
}
button.btnstableEdit {
  display: flex;
  background: #fdd835;
  color: WHITE;
  width: 52px;
  border-radius: 10px;
  height: 39px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-left:10px ;
}
